/* component/mains/commercial/Table.css */
.tableBox {
  /* top: 25px; */
  padding: 20px 24px 20px 44px;
  left: 2%;
  right: 1.5%;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.buttons {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  background-color: white; /* Ensure background color */
}

.backButton {
  width: auto;
  min-width: 6rem;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #ff0011;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.backIcon {
  margin-right: 8px;
  color: inherit;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.backButton:hover {
  color: white;
  box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.3);
  background-color: #ff4754;
}

.allClauseButton {
  width: auto;
  min-width: 6rem;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #ebebeb;
  color: black;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.allClauseButton:hover {
  background: #ff4754;
  color: white;
}

.allClauseButton.active {
  background: #ce0916;
  color: white;
}

.redClauseButton {
  width: auto;
  min-width: 6rem;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #ebebeb;
  color: black;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}
.clauseButton {
  display: flex;
  gap: 15px;
}
.redClauseButton:hover {
  background: #ff4754;
  color: white;
}

.redClauseButton.active {
  background: #ce0916;
  color: white;
}

.nonRedClauseButton {
  width: auto;
  min-width: 6rem;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #ebebeb;
  color: black;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.nonRedClauseButton:hover {
  background: #3366ff;
  color: white;
}

.nonRedClauseButton.active {
  background: #ce0916;
  color: white;
}

.AllClauseButton {
  width: auto;
  min-width: 6rem;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #ebebeb;
  color: black;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.AllClauseButton:hover {
  background: #ff4754;
  color: white;
}

.AllClauseButton.active {
  background: #ce0916;
  color: white;
}

.downloadButton {
  right: 1%;
  margin-right: 20px;
  height: 40px;
  padding: 0 20px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #ff0011;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.downloadIcon {
  margin-right: 5px;
  color: green;
}

.downloadButton:hover {
  background: #ff4754;
}

.downloadButton:active {
  background: #ce0916;
}

.errorAnalyzing {
  /* Center the text horizontally and vertically */
  margin-top: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjusts to the full viewport height */

  /* Add effects */
  font-size: 2rem;
  color: #ff0000;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */

  /* Add animation */
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.tableContainer {
  width: 100%;
  height: calc(100% - 50px); /* Adjust height to fit the container */
  margin-top: 20px; /* Spacing above the table */
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
  overflow: hidden; /* Prevent overflow outside the container */
}

.tableWrapper {
  display: block;
  overflow-y: auto; /* Enable scrolling for the body only */
  max-height: 800px; /* Set a specific height for the scrollable area */
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
}

.table th,
.table td {
  padding: 8px;
  vertical-align: top;
  border: 1px solid #ddd;
}

.table th {
  top: 0;
  position: sticky; /* Keep headers fixed */
  z-index: 50;
  background-color: #005ca3;
  color: white;
  padding: 12px;
  text-align: left;
  font-size: 0.9rem;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* .table tr:nth-child(odd) {
  background-color: #ffffff;
} */

.table tr:hover {
  background-color: #e0f7fa;
}

.table th.sno,
.table td.sno {
  width: 3rem;
  text-align: center;
}

.table th.entity,
.table td.entity,
.table th.differences,
.table td.differences,
.table th.addition,
.table td.addition,
.table th.removals,
.table td.removals,
.table th.similarities,
.table td.similarities {
  width: 15rem;
  text-align: left;
}

/* Scrollbar styling */
.tableWrapper::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
  width: 8px; /* Vertical scrollbar width */
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: #005ca3;
  border-radius: 4px;
}

.tableWrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
